html {
  scroll-behavior: smooth;
}

/*HERO STYLES*/

.hero-image{
  width: 100%;
  opacity: 1;
}

.hero-text {
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  font-size: 3rem;
}

.hero-title{
  font-size: 5rem;
  font-weight: bold;
}
.hero-description{
  color: white;
}

.hero-button{
  border-color: white;
  border-radius: 5px;
  border: 3px solid;
  padding: 5px 20px;
  color: #293241;
  background-color: rgba(255, 255, 255, .4);
  transition: all 0.3s ease 0s;
  cursor: pointer;
  color: white;
  font-size: 2.5rem;
  margin: 20px;
}
.hero-button:hover{
  background-color: rgba(255, 255, 255, 0.6);
}

/*Brewery grid styles*/
.brewery-description-text{
  text-align: center;
  font-size: 2.5rem;
  padding-top: 40px;
  font-weight: bold;
}
.brewery-grid{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  gap: 1.5rem;
  margin: 3rem;
}

.brewery-container{
  border-style: solid;
  border-width: 1.5px;
  border-color: #CED4DA;
  border-radius: 5px;
  padding: 15px;
  box-shadow: 0 1px 2px rgba(0,0,0,0.15);
  transition: box-shadow 0.2s ease-in-out;
  text-align: center;
}

.brewery-container:hover{
  box-shadow: 0 5px 15px rgba(0,0,0,0.3);
}

.brewery-rank{
  font-size: 3rem;
  color: #293241;
}

.brewery-head {
  color: #ee6c4d;
  font-size: 2em;
}

/*ADD CREATE STYLES*/
.create {
  max-width: 400px;
  margin: 0 auto;
  text-align: center;
}
.create label {
  text-align: left;
  display: block;
}
.create h2 {
  font-size: 3rem;
  color: #ee6c4d;
  /*margin-bottom: 30px;*/
}
.create input, .create textarea, .create select {
  width: 100%;
  padding: 6px 10px;
  margin: 15px 0;
  border: 1px solid #ddd;
  box-sizing: border-box;
  display: block;
}
.create button {
  background-color: rgba(238, 108, 77, .0);
  color: #ee6c4d;
  border: 3px solid;
  padding: 5px 20px;
  border-radius: 5px;
  cursor: pointer;
  margin: 20px;
  font-size: 1rem;
  transition: all 0.3s ease 0s;
}

.create button:hover{
  background-color: rgba(238, 108, 77, .3);
}

/*ABOUT STYLES*/
.about-container{
  padding: 5%;
  margin: auto;
  width: 60%;
  text-align: center;
}

.about-heading-container{
  font-size: 3rem;
  font-weight: bold;
  color: #ee6c4d;
}

.about-text-container{
  font-size: 1.5rem;
}